<html xmlns:base="http://typo3.org/ns/Tollwerk/TwBase/ViewHelpers" data-namespace-typo3-fluid="true">
	<base:media
			class=""
			file="{file}"
			width="{dimensions.width}"
			height="{dimensions.height}"
			title="{file.title}"
			alt="{file.alternative}"
			srcset="{settings.media.srcset}"
			sizes="{settings.media.sizes}"
			breakpoints="{data.tx_twbase_breakpoints}"
			responsive="{data.tx_twbase_responsive}"
			lazyload="{data.tx_twbase_lazyload}"
			inline="{data.tx_twbase_inline}"
	/>
</html>
