<f:comment><!--

    Render a video

    @param array data               Content record
    @param FileReference[] sources  Video sources
    @param FileReference[] poster   Poster images (only the first one is used)
    @param FileReference[] tracks   Caption tracks
    @param array settings           Settings

--></f:comment>
<html data-namespace-typo3-fluid="true">
    <video controls preload="metadata" {f:if(condition: poster, then: ' poster="{poster.0.publicUrl}"')}>
        <f:for each="{sources}" as="source">
            <f:variable name="latestSource" value="{source.publicUrl}"/>
            <source src="{latestSource}" type="{source.mimeType}">
        </f:for>
        <f:for each="{tracks}" as="track">
            <f:if condition="{track.data.kind} == 'transcript'">
                <f:else>
                    <f:variable name="label" value="{f:if(
                            condition: track.file.0.originalFile.metaData.title,
                            then: track.file.0.originalFile.metaData.title,
                            else: '{track.data.kind} ({track.data.language})'
                            )}"/>
                    <track label="{label}" src="{track.file.0.publicUrl}" kind="{track.data.kind}"
                           srclang="{track.data.language}"/>
                </f:else>
            </f:if>
        </f:for>
        <f:if condition="{data.bodytext}">
            <f:then>
                <f:format.html>{data.bodytext}</f:format.html>
            </f:then>
            <f:else>
                <p>
                    <f:translate key="LLL:EXT:tw_base/Resources/Private/Language/locallang.xlf:video.fallback" arguments="{0: latestSource}"/>
                </p>
            </f:else>
        </f:if>
    </video>
    <f:if condition="{sources}">
        <f:render partial="Media/Rendering/Videosource" optional="true" arguments="{
            author: sources.0.originalFile.properties.tx_twbase_author,
            authorUrl: sources.0.originalFile.properties.tx_twbase_author_url,
            sourceUrl: sources.0.originalFile.properties.tx_twbase_source_url,
            year: sources.0.originalFile.properties.tx_twbase_creation_year,
            license: sources.0.originalFile.properties.tx_twbase_license,
            licenseName: sources.0.originalFile.properties.tx_twbase_license_name,
            licenseUrl: sources.0.originalFile.properties.tx_twbase_license_url,
            classes: 'MediaVideo__source'
        }"/>
    </f:if>
    <f:variable name="transcripts" value="{}"/>
    <f:for each="{tracks}" as="track">
        <f:if condition="{track.data.kind} == 'transcript'">
            <f:variable name="transcripts" value="{base:collection.push(a: transcripts, b: '{0: track.data}')}"/>
        </f:if>
    </f:for>
    <f:render partial="Media/Rendering/Transcripts" arguments="{transcripts: transcripts, name: data.header}"/>
</html>
