<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:base="http://typo3.org/ns/Tollwerk/TwBase/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:if condition="{header}">
        <f:if condition="{layout} < 102">
            <f:variable name="heading" value="{header -> f:link.typolink(parameter: link)}"/>
            <f:if condition="{language}">
                <f:then>
                    <base:heading level="{layout}" type="{type}" class="{positionClass}" content="{heading}"
                                  lang="{language}"/>
                </f:then>
                <f:else>
                    <base:heading level="{layout}" type="{type}" class="{positionClass}" content="{heading}"/>
                </f:else>
            </f:if>
        </f:if>
    </f:if>
</html>
