<f:comment><!--

    Render a video

    @param array data               Content record
    @param FileReference[] sources  Video sources
    @param FileReference[] poster   Poster images (only the first one is used)
    @param FileReference[] tracks   Caption tracks
    @param array settings           Settings

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default"/>

    <f:section name="Main">
        <f:render partial="Media/Rendering/Videoplus" arguments="{_all}"/>
    </f:section>
</html>
